<div class="card-wrapper-zippy">
    <script>
        console.log({{ card_product.url | json }})
    </script>
    <a href="{{ card_product.url }}">
        <div class="card-image" style="background-color: {{ bg_color_first }}">
            <img src="{{ card_product.media[0].src | image_url: width: 165 }}" class="first">
            <img src="{{ card_product.media[1].src | image_url: width: 165 }}" style="display: none;">
            {% render 'svg-card-wave',
                color: bg_color_second, %}
        </div>
    </a>
    <div class="card-info" style="background-color: {{ bg_color_second }}">
        <div class="title-avis">
            <h3>{{ card_product.title }}</h3>
            <div class="review-container">
                <span>4.7</span>
                {% render 'icon-star-filled' %}
            </div>
        </div>
        <ul class="list-container">
            {% for item in tags.value %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <div class="select-list">
          {% form 'product', card_product %}
            <select name="id">
                {% for variant in card_product.variants %}
                    {% assign variant_title = variant.title %}
                    {% assign variant_price = variant.price | money_without_currency | replace: ",", "." %}
                    {% assign grams = variant_title | remove: "G" %}
                    {% assign price_per_gram = variant_price | divided_by: grams %}

                  <option value="{{ variant.id }}"
                    {% if variant == current_variant %}selected="selected"{% endif %}
                  >
                    <span>{{ variant.title }} ({{ price_per_gram }}€ /g)</span>
                    <span>{{ variant.price | money_without_currency }}€</span> 
                  </option>
                {% endfor %}
            </select>
            <button type="submit">
                {%- render 'icon-cart-card' -%}
            </button>
          {% endform %}
        </div>
    </div>
</div>