{% if cart != empty %}
    {% assign progressThresholdDollars = settings.cart_progress_threshold %}
    {% assign progressThreshold = progressThresholdDollars | times: 100 %}
    {% assign preGoalMessageTemplate = settings.cart_pre_goal_message %}
    {% assign postGoalMessage = settings.cart_post_goal_message %}
  
    {% assign cartTotal = cart.total_price %} 
    {% assign progressPercentage = cartTotal | times: 100 | divided_by: progressThreshold %}
    {% if progressPercentage > 100 %}
      {% assign progressPercentage = 100 %}
    {% endif %}
    
    {% assign remainingForGoal = progressThreshold | minus: cartTotal %}
    {% if remainingForGoal < 0 %}
      {% assign remainingForGoal = 0 %}
    {% endif %}
    {% assign remainingForGoalFormatted = remainingForGoal | money %}
    {% assign dynamicPreGoalMessage = preGoalMessageTemplate | replace: '[remainingForGoalFormatted]', remainingForGoalFormatted %}
    
    <div id="cart-progress-wrapper" 
      class="{% if progressPercentage == 100 %}full{% else %}not-full{% endif %}"
      data-threshold="{{ progressThreshold }}" 
      data-pre-goal-message-template="{{ preGoalMessageTemplate | escape }}"
      data-post-goal-message="{{ postGoalMessage | escape }}"
          data-money-format="{{ shop.money_format | escape }}"
    >
      {% assign totalFormated = cartTotal | divided_by: 100 | float %}

      {% assign shippingOffer = "" %}
      
      {% assign threshold1 = 50 %}
      {% assign threshold2 = 100 %}
      {% assign threshold3 = 150 %}

      {% il totalFormated >= 0 and totalFormated < threshold1 %}
          {% assign shippingOffer = "la livraison gratuite" %}
          {% assign difference = totalFormated | minus: threshold1 | abs %}
      {% elsif totalFormated >= threshold1 and totalFormated < threshold2 %}
          {% assign shippingOffer = "5g offert" %}
          {% assign difference = totalFormated | minus: threshold2 | abs %}
      {% elsif totalFormated >= threshold2 %}
          {% assign shippingOffer = "10g offert" %}
          {% assign difference = totalFormated | minus: threshold3 | abs %}
      {% endif %}

      {% comment %} {% assign thresholdForNextStep = 50 %}  {# Seuil pour passer à l'étape suivante #}

      
      {% if remainingForGoalFormatted < thresholdForNextStep %}
          {% assign remainingForNextStep = difference %}
      {% else %}
          {% assign remainingForNextStep = 0 %}
      {% endif %} {% endcomment %}

      {% if totalFormated > 150 %}
        <p class="claim-title" style="text-align: center; line-height: normal; margin-bottom: 2rem">
          Félicitation, vous avez gagné toutes les récompenses
        </p>
      {% else %}
        <p class="claim-title" style="text-align: center; line-height: normal; margin-bottom: 2rem"><sup><strong>Offre cumulabe</strong></sup><br/>Il reste <strong>{{ difference }}€</strong> pour avoir <strong>{{ shippingOffer }}</strong></p>
      {% endif %}
      {% comment %} <p class="claim-offer">🚚 La livraison gratuite Standard + 1g offert</p>
      <p class="claim-offer">😊 5g offert</p>
      <p class="claim-offer">😊 10g offert</p>
      <p>{{ remainingForGoalFormatted }}</p>
      <p>{{ cartTotal | money_without_currency  }}</p> {% endcomment %}

      <div class="cart-progress-bar-container">
        <div id="cart-progress-bar" style="width: {{ progressPercentage }}%;"></div>
        <div class="layout">
          <div class="steps">
            <span class="line"></span>
            <div class="position-container">
              <span class="price">50€</span>
              <span class="gift">Livraison gratuite + 1gr offert</span>
            </div>
          </div>
          <div class="steps">
            <span class="line"></span>
            <div class="position-container">
              <span class="price">100€</span>
              <span class="gift">5gr offert</span>
            </div>
          </div>
          <div class="steps">
            <span class="line"></span>
            <div class="position-container">
              <span class="price">150€</span>
              <span class="gift">10gr offert</span>
            </div>
          </div>
        </div>
      </div>

      {% comment %} <div class="goal-message">


        {% if remainingForGoal > 0 %}
          {{ dynamicPreGoalMessage }}
        {% else %}
          {{ postGoalMessage }}
        {% endif %}
      </div> {% endcomment %}
      
    </div>
  {% endif %}
  
  <style>
    .cart-progress-bar-container {
      width: 100%;
      background-color: #eee;
      border-radius: 10px;
      margin: 2px auto;
      padding: 1px; 
      overflow: hidden; 
    }
  
    #cart-progress-bar {
      display: block;
      height: 10px;
      background-color: var(--progress-bar-color, {{ settings.cart_progress_bar_color }}); /* Default color */
      border-radius: 2px;
      transition: width 0.5s ease-in-out;
      border: 1px solid var(--progress-bar-border-color, {{ settings.cart_progress_bar_color }}); 
      padding: 5px 0;
      box-sizing: border-box;
    }
  
    #cart-progress-wrapper.full #cart-progress-bar {
      --progress-bar-color: {{ settings.cart_progress_bar_full_color }};
      --progress-bar-border-color: {{ settings.cart_progress_bar_full_color }};
    }
    
    .goal-message {
      text-align: center;
      margin: 2px auto 10px;
      font-size: 1em;
      color: {{ settings.cart_progress_bar_text_color }};
    }
  
  </style>
  